:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color */
  --hue-color: 340; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 69%, 61%);
  --first-color-second: hsl(var(--hue-color), 69%, 61%);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  cursor: crosshair;
  font-family: Poppins;
  background: url("../img/hero.jpg") no-repeat 50% 50%;
}

#particle-js {
  height: 100%;
  background: #101010;
  color: var(--first-color);
}

::-webkit-scrollbar {
  width: 0;
}

.content {
  width: 60%;
  margin: 0 auto;
  z-index: -1;
  position: absolute;
  top: 60%;
  left: 10%;
  transform: translate(0, -50%);
}

.content h1 {
  font-family: Poppins;
  font-size: 54px;
  color: var(--first-color);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
}

.content p {
  margin-top: 20px;
  text-align: left;
  color: #101010;
  font-weight: 400;
  text-align: left;
}

.meaning {
  margin-top: 0;
  padding-top: 0;
  font-style: italic;
  color: var(--first-color-lighter);
}

.overlay-2 {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: var(--first-color);
}

.overlay {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #101010;
}

.overlay p {
  font-size: 300px;
  font-weight: 800;
}

.screen {
  color: #323232;
  font-family: Poppins;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.myBtn {
  font-family: Poppins;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--first-color-lighter);
}

button {
  display: block;
  padding: 24px 48px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 6px;
  color: #fff;
  border: 2px solid #fff;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  background: none;
  z-index: 1;
  cursor: crosshair;
  transition: 0.5s ease-out;
}

.myBtn:hover {
  color: var(--first-color);
  cursor: crosshair;
}

.myBtn:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition: top 0.5s ease-out;
}

.myBtn:hover:before {
  top: 0;
}

.introduction {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
}

.introduction .introduction-section {
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.introduction .introduction-section:nth-child(2) {
  background: black;
  color: white;
}
